<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Ankur Prathisthan DB-->
    <!--<add name="ankurmobile" connectionString="Data Source=ankurpratishthan.com;Initial Catalog=ankurpratishthan_com_;User Id=ankurpratishthan.com;password=Anku@87!" />-->
    <!--<add name="ankurmobile" connectionString="Data Source=54.36.151.155,1440;Initial Catalog=ankurmobileapp;User Id=ankurmobileapp;password=Anku@87!" />-->
    <!--<add name="ankurmobile" connectionString="Data Source=127.0.0.1,1443;Initial Catalog=ankurmobileapp;User Id=ankurmobileapp;password=Ankur@2020" />-->
  <!--<add name="ankurmobile" connectionString="Data Source=LAPTOP-5R2FNC3K;Initial Catalog=ankurmobileDB;Integrated Security=true;" />-->
  <add name="ankurmobile" connectionString="Data Source=208.91.198.174;Initial Catalog=ankurmobileapp;User Id=dean;password=Ankur@993" />
  
  </connectionStrings>
  
  <!--<add key ="Logs" value ="D:\APLogs"></add>-->
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <!--[START] for email sending-->
    
        <!--<add key="SMTPSERVER" value="mail.ankurpratishthan.com"/>
            <add key="PORTNO" value="25"/>
            <add key="USERNAME" value="Admin@ankurpratishthan.com"/>
            <add key="PASSWORD" value="Anku@87!"/>-->
    
        <!--<add key="SMTPSERVER" value="smtp.gmail.com"/>
        <add key="PORTNO" value="587"/>
        <add key="USERNAME" value="kundan.mobileappdev@gmail.com"/>
        <add key="PASSWORD" value="Kundan@2244"/>-->
   
    
    <add key="SMTPSERVER" value="mail.ankurpratishthan.com" />
    <add key="PORTNO" value="25" />
    <add key="USERNAME" value="Admin@ankurpratishthan.com" />
    <add key="PASSWORD" value="Nokia@86" />    
    
        <!--[END]for email sending-->
    
<!--[START] for notification sending-->
    <add key="serverapikey" value="AAAA32Y_G-I:APA91bH6PudPp3kEDwp7xknkKGXvWzdHu-uvOT3DxfznKl1hN4CzA7aVk7ev2ROHGW4YMiJZjtMK0zAvlUmDaHhhdGNgiER2IgO8IjZuHDvzJ0O_IgZgf-6fq-WYvMw1o5hNj6Atl8iz" />  
    <!--[END] for notification sending-->
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AnkurPrathisthan.APService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AnkurPrathisthan.IAPService" behaviorConfiguration="web" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="" maxBufferPoolSize="1000000" maxReceivedMessageSize="1000000" maxBufferSize="1000000">
          <readerQuotas maxArrayLength="656000" maxBytesPerRead="656000" maxDepth="32" maxNameTableCharCount="656000" maxStringContentLength="656000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          <behavior name="ServiceBehaviour">
          -->
    <!--</behavior>-->
    <!--
          -->
    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
    <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <!--[START]Added for CORS!-->
    <!---><httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
   [END]Added for CORS !-->
    <modules runAllManagedModulesForAllRequests="true" />   
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <!--<remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />-->
        <add value="APService.svc" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <!--<remove fileExtension="." />-->
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer> 
  
  <runtime> 
  
         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
  
                <dependentAssembly> 
  
                       <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 
  
                       <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" /> 
  
                </dependentAssembly> 
  
                <dependentAssembly> 
  
                       <assemblyIdentity name="Bricks.Core" publicKeyToken="aebd4819ba1ff32b" culture="neutral" /> 
  
                       <bindingRedirect oldVersion="0.0.0.0-0.1.5437.21736" newVersion="0.1.5437.21736" /> 
  
                </dependentAssembly> 
  
                <dependentAssembly> 
  
                       <assemblyIdentity name="Bricks.SMS" publicKeyToken="aebd4819ba1ff32b" culture="neutral" /> 
  
                       <bindingRedirect oldVersion="0.0.0.0-0.1.5437.21736" newVersion="0.1.5437.21736" /> 
  
                </dependentAssembly> 
  
                <dependentAssembly> 
  
                       <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
  
                       <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" /> 
  
                </dependentAssembly> 
  
                <dependentAssembly> 
  
                       <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
  
                       <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" /> 
  
                </dependentAssembly> 
  
                <dependentAssembly> 
  
                       <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
  
                       <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" /> 
  
                </dependentAssembly> 
  
         </assemblyBinding> 
  
  </runtime>
</configuration>