<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <!-- Ankur Prathisthan DB-->
    <add name="ankurmobile" connectionString="Data Source=ankurpratishthan.com;Initial Catalog=ankurpratishthan_com_;User Id=ankurpratishthan.com;password=Anku@87!" />
  </connectionStrings>

  <!--<add key ="Logs" value ="D:\APLogs"></add>-->
  

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--START] for email sending-->
    <add key = "SMTPSERVER" value = "ankurpratishthan.com"/>
    <add key = "PORTNO" value = "25"/>
    <add key="USERNAME" value="support@ankurpratishthan.com"/>
    <add key="PASSWORD" value="zm6!a3E9"/>
    <!--[END]for email sending-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AnkurPrathisthan.APService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" contract="AnkurPrathisthan.IAPService" behaviorConfiguration="web" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!--<serviceMetadata httpGetEnabled="true" />-->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          <behavior name="ServiceBehaviour">
          -->
    <!--</behavior>-->
    <!--
          -->
    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
    <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <!--<remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />-->
        <add value="APService.svc" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <!--<remove fileExtension="." />-->
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <httpRedirect enabled="false" destination="" exactDestination="false" />
  </system.webServer>

</configuration>
