<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Ankur Prathisthan DB-->
    <!--<add name="ankurmobile" connectionString="Data Source=ankurpratishthan.com;Initial Catalog=ankurpratishthan_com_;User Id=ankurpratishthan.com;password=Anku@87!" />-->
    <add name="ankurmobile" connectionString="Data Source=54.36.151.155,1440;Initial Catalog=ankurmobileapp;User Id=ankurmobileapp;password=Anku@87!" />
  <!--<add name="ankurmobile" connectionString="Data Source=LAPTOP-5R2FNC3K;Initial Catalog=ankurmobileDB;Integrated Security=true;" />-->
  </connectionStrings>
  
  <!--<add key ="Logs" value ="D:\APLogs"></add>-->
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AnkurPrathisthan.APService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AnkurPrathisthan.IAPService" behaviorConfiguration= "web" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name=""
                 maxBufferPoolSize="1000000"
                 maxReceivedMessageSize="1000000"
                 maxBufferSize="1000000">
          <readerQuotas
                maxArrayLength="656000"
                maxBytesPerRead="656000"
                maxDepth="32"
                maxNameTableCharCount="656000"
                maxStringContentLength="656000"
            />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          <behavior name="ServiceBehaviour">
          -->
    <!--</behavior>-->
    <!--
          -->
    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
    <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>   
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <!--<remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />-->
        <add value="APService.svc" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <!--<remove fileExtension="." />-->
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer> 
  
</configuration>
